<table align="center" width="583" border="0" cellpadding="0" cellspacing="0" style="padding:10px 0; text-align:left;">
    <tbody>
        <tr>
            <td><img src="https://223.38.41.17:3000/img/certchain_logo0.png" alt="CertChain" border="0"></td>
        </tr>
        <tr>
            <td style="padding:0; border:1px solid #cbcbcb;">
                <!-- 내용 -->
                <table width="581" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <!-- 상단 -->
                            <td><img src="https://nonghyup.career.co.kr/images/mail/mail_certify.jpg"></td>
                        </tr><!-- //상단 -->
                        <tr>
                            <!-- 본문 -->
                            <td align="center" style="text-align:left;">
                                <table align="center" width="531" border="0" cellspacing="0" cellpadding="0"
                                    style="margin:0 auto;">
                                    <tbody>
                                        <tr>
                                            <td height="29"></td>
                                        </tr>
                                        <tr>
                                            <!-- 안내글 -->
                                            <td style="color:#333333; font:12px/22px Dotum;">
                                                <strong style="line-height:28px;">
                                                    인증코드는
                                                    [ <span style="color:#f26522;">${token}</span> ]
                                                    입니다.
                                                </strong><br>
                                            </td>
                                        </tr><!-- //안내글 -->
                                        <tr>
                                            <td height="80"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <!--//본문 -->
                        <tr>
                            <td height="55"></td>
                        </tr>
                        <tr>
                            <!-- 하단 -->
                            <td align="center">
                                <table width="568" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
                                    <tbody>
                                        <tr>
                                            <td style="border:1px solid #d8d5d5">
                                                <table width="568" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" bgcolor="#f6f6f6" height="40"
                                                                style="border:1px solid #ffffff; color:#666666; font:normal 12px/19px Gulim;">
                                                                본 메일은 발신전용이므로 회신하실 경우 답변되지 않습니다.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr><!-- //하단 -->
                        <tr>
                            <td height="7"></td>
                        </tr>
                    </tbody>
                </table>
            </td><!-- //내용 -->
        </tr>
    </tbody>
</table>